* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(255, 0, 0);
    width: 300px;
}

h1 {
    text-align: center;
    /* margin-bottom: 20px; */
}

.upload-box {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input[type="file"] {
    display: block;
    width: 100%;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(48, 31, 233);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: hsl(243, 95%, 34%);
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.neon-navbar {
    text-align: center;
    /* margin-top: 50px; */
    background-color: black;
    padding: 8px;
}

.neon-navbar ul {
    list-style: none;
    padding: 0;
}

.neon-navbar ul li {
    display: inline-block;
    margin: 0 15px;
}

.neon-navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.glow a {
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
}

.glow a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #0ff;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    transform: scaleX(1);
    transition: transform 0.4s ease-in-out;
}

.glow a::before {
    transform-origin: left;
}

.glow a::after {
    transform-origin: right;
    bottom: 0;
    top: auto;
}

